.grid-container {
  display: inline-grid;
  text-align: center;
  grid-template-columns: auto auto auto;
  background-color:white;
  padding: 10px;
  grid-gap: 5px;
}

.grid-item {
  text-align: center;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}